### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

# Look at the df using .head "because I can"
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count = len(purchase_df["SN"].unique())
playercount_df = pd.DataFrame({"Total Players": [player_count]})
playercount_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_df["Item Name"].nunique()
average_price = purchase_df["Price"].mean()
total_purchase = purchase_df["Purchase ID"].count()
total_rev = purchase_df["Price"].sum()

In [25]:
purchase_summary_df = pd.DataFrame({"Number of Unique Items": [unique_items], 
                                 "Average Price": average_price,
                                "Number of Purchases": total_purchase,
                                "Total Revenue": total_rev})
purchase_summary_df[["Average Price", "Total Revenue"]] = purchase_summary_df[["Average Price", "Total Revenue"]].applymap("${:.2f}".format)

In [26]:
purchase_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
purchase_df["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [8]:
male_df = purchase_df[purchase_df["Gender"] == "Male"]
female_df = purchase_df[purchase_df["Gender"] == "Female"]
other_df = purchase_df[purchase_df["Gender"] == "Other / Non-Disclosed"]

In [9]:
malect = male_df["SN"].nunique()
femalect = female_df["SN"].nunique()
otherct = other_df["SN"].nunique()

In [10]:
male = malect/player_count * 100
female = femalect/player_count * 100
other = otherct/player_count * 100

In [11]:
gender_demo_df = pd.DataFrame({"": ["Male", "Female", "Other / Non-Disclosed"],
                                "Total Count": [malect, femalect, otherct], 
                                 "Percentage of Players": [male, female, other]},
                              index=["Male", "Female", "Other / Non-Disclosed"],
                               columns=("Total Count", "Percentage of Players"))

In [12]:
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].astype(float).map("{:.2f}%".format)
gender_demo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
gendergroup = purchase_df.groupby("Gender")

purchase_count = gendergroup["Gender"].count()
averageprice = gendergroup["Price"].mean()
totalprice = gendergroup["Price"].sum()

uniquegender = gendergroup["SN"].nunique()
avgttlperson = totalprice/uniquegender

In [27]:
purchaseanalysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                "Average Purchase Price": averageprice, 
                                 "Total Purchase Value": totalprice,
                                    "Avg Total Purchase per Person": avgttlperson})
purchaseanalysis_df[["Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]] = purchaseanalysis_df[["Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]].applymap("${:.2f}".format)
purchaseanalysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
purchase_df["Age"].min()
purchase_df["Age"].max()
bins = [1, 9, 14, 19, 24, 29, 34, 39, 50]
agegroup = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_df["Age Ranges"] = pd.cut(purchase_df["Age"], bins, labels=agegroup)

In [16]:
age_group = purchase_df.groupby("Age Ranges")
age_total_count = age_group["SN"].nunique()
age_pct_players = age_total_count/player_count * 100

In [17]:
agedemographics_df = pd.DataFrame({" ": agegroup,
                                "Total Count": age_total_count,
                                "Percentage of Players": age_pct_players},  
                                index=agegroup,
                               columns=("Total Count", "Percentage of Players"))
agedemographics_df["Percentage of Players"] = agedemographics_df["Percentage of Players"].map("{:.2f}%".format)
agedemographics_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
purchase_count_age = age_group["Age"].count()
average_purchase_price_age = age_group["Price"].mean()
total_purchase_age = age_group["Price"].sum()
avg_total_purchase_age = total_purchase_age/age_total_count

In [28]:
agepurchaseanalysis_df = pd.DataFrame({"Purchase Count": purchase_count_age,
                                "Average Purchase Price": average_purchase_price_age,
                                "Total Purchase Value": total_purchase_age,
                                "Avg Total Purchase per Person": avg_total_purchase_age})
agepurchaseanalysis_df[["Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]] = agepurchaseanalysis_df[["Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]].applymap("${:.2f}".format)
agepurchaseanalysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
spendergroup = purchase_df.groupby("SN")
top_purchasect = spendergroup["Purchase ID"].count()
top_avgpurchase = spendergroup["Price"].mean()
top_totalpurchase = spendergroup["Price"].sum()

In [21]:
topspenders_df = pd.DataFrame({"Purchase Count": top_purchasect,
                                "Average Purchase Price": top_avgpurchase,
                                "Total Purchase Value": top_totalpurchase})
purchasect_topspender_df = topspenders_df.sort_values(["Total Purchase Value"], ascending=False)
purchasect_topspender_df[["Average Purchase Price", "Total Purchase Value"]] = purchasect_topspender_df[["Average Purchase Price", "Total Purchase Value"]].applymap("${:.2f}".format)
purchasect_topspender_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [53]:
item_df = purchase_df[["Item ID", "Item Name", "Price"]]
item = item_df.groupby(["Item ID", "Item Name"])
popitem_purchasect = item["Item ID"].count()
popitem_price = item_df["Price"]
popitem_ttlpurchase = item["Price"].sum()

In [65]:
item_df.groupby(["Item ID", "Item Name"]).agg(
{
    count(["Item ID"]),
    ["Price"].sum()
})

NameError: name 'count' is not defined

In [50]:
#mostpopitem_df = item["Item ID"].count(), item["Price"].sum()
mostpopitem_df = pd.DataFrame({"Purchase Count": popitem_purchasect,
                              "Item Price": popitem_price,
                             "Total Purchase Value": popitem_ttlpurchase})
mostpopitem_df.head()

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long long'

In [24]:
mostpopitem_df = mostpopitem_df.sort_values(["Purchase Count"], ascending=False)

mostpopitem_df[["Item Price", "Total Purchase Value"]] = mostpopitem_df[["Item Price", "Total Purchase Value"]].applymap("${:.2f}".format)

mostpopitem_df.head()

TypeError: unsupported format string passed to Series.__format__

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
purchase_df["Price"]
purchase_df.head(2)
popitem_price